*.deb
/aptrepo/INFO
/aptrepo/cache/packages-*.db
/aptrepo/dists/*/*/*/Packages
/aptrepo/dists/*/*/*/Packages.bz2
/aptrepo/dists/*/*/*/Packages.gz
/aptrepo/dists/*/Contents-*.gz
/aptrepo/dists/*/Release
/aptrepo/dists/*/Release.gpg
/aptrepo/conf/apt-*-release.conf
/aptrepo/conf/apt-ftparchive.conf
/pkg
/tmp
/build-*
/aptrepo/conf/apt-ftparchive.conf
/aptrepo/conf/apt-*-release.conf
